node_modules
.idea
app/public/index.html
app/public/build

app/public/css
app/public/css/style.*.css
spec
coverage
._.DS_Store
.DS_Store
npm-debug.log

reports
*.log
tmp
log
package-lock.json